   html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      background-color: #F2F2F7; /* gris iOS */
    }

    body {
      display: flex;
      flex-direction: column;
      opacity: 1;
      transition: opacity 0.3s ease;
    }

    /* CONTENU PRINCIPAL */
    #content {
      position: relative;
      z-index: 2;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 100%;

      padding-top: env(safe-area-inset-top);
      padding-bottom: calc(20px + env(safe-area-inset-bottom) + 60px);

      box-sizing: border-box;
    }

    /* BARRE iOS BASSE */
    #bottom-bar {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;

      height: 60px;
      padding-bottom: env(safe-area-inset-bottom);

      display: flex;
      justify-content: space-around;
      align-items: center;

      background-color: #A8E6CF;
      border-top: 1px solid rgba(0,0,0,0.15);

      z-index: 10;
    }

    .fade-out {
      opacity: 0;
      pointer-events: none;
    }

    .tab {
      background: none;
      border: none;
      font-size: 22px;
      color: #004D00;
    }

    .tab.active {
      color: #007AFF; /* bleu iOS */
    }

    .background {
      position: absolute;
      inset: 0 calc(0px) calc(env(safe-area-inset-bottom) + 60px) 0;
      background-image: url('picture/Chalet_picture.webp');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1;
    }

    /* CONTAINER AUTH */
    #auth, #gauge-modal, #settings-panel, #confirm-logout {
      max-width: 360px;
      width: 100%;
      padding: 24px;
      background: rgba(255, 255, 255, 0.92);
      border-radius: 16px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.2);
      text-align: center;

      box-sizing: border-box;
    }

    /* TITRE */
    #auth h2, #gauge-modal h2, #settings-panel h2, #confirm-logout h2 {
      margin-bottom: 20px;
      font-size: 26px;
      color: #1C1C1E;
    }

    /* INPUTS */
    #auth input, #gauge-modal input, #settings-panel input, #confirm-logout input {
      width: 100%;
      padding: 14px;
      margin-bottom: 14px;
      border-radius: 10px;
      border: 1px solid #D1D1D6;
      font-size: 16px;

      box-sizing: border-box;
    }

    /* BOUTONS */
    .buttons {
      display: flex;
      gap: 12px;
      margin-top: 10px;
    }

    .btn {
      flex: 1;
      padding: 14px;
      border-radius: 10px;
      border: none;
      font-size: 16px;
      cursor: pointer;
    }

    .btn.primary {
      background-color: #A8E6CF;
      color: #004D00;
      transition: background-color 0.2s ease;
    }

    .btn.primary:active {
      background-color: #81C784;
    }

    .btn.secondary {
      background-color: #A8E6CF;
      color: #004D00;
      transition: background-color 0.2s ease;
    }
    .btn.secondary:active {
      background-color: #81C784;
    }

    .message {
      position: fixed;
      top: calc(env(safe-area-inset-top)+10px);
      left: 50%;
      transform: translateX(-50%);
      max-width: 90%;
      padding: 14px 18px;
      border-radius: 12px;
      font-size: 15px;
      text-align: center;
      box-shadow: 0 8px 20px rgba(0,0,0,0.25);
      z-index: 20;
      animation: slideDown 0.3s ease;
    }

    .message.error {
      background-color: #FF3B30;
      color: white;
    }

    .message.warning {
      background-color: #FF9500;
      color: #1C1C1E;
    }

    .hidden {
      display: none;
    }

    .setting-row {
      display: flex ;
      justify-content: space-between;
      align-items: center;

      padding: 14px 0;
      width: 100%;
    }

    .setting-label {
      font-size: 19px;
      letter-spacing: 0.2px;
      font-weight: 500;
      color: #1C1C1E;
    }

    .ios-switch {
      position: relative;
      width: 52px;
      height: 32px;
      flex-shrink: 0;
    }

    .ios-switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .ios-switch .slider {
      position: absolute;
      inset: 0;
      background-color: #D1D1D6;
      border-radius: 999px;
      transition: background-color 0.25s;
    }

    .ios-switch .slider::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      width: 26px;
      height: 26px;
      background: white;
      border-radius: 50%;
      transition: transform 0.25s;
      box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    }

    .ios-switch input:checked + .slider {
      background-color: #34c759;
    }

    .ios-switch input:checked + .slider::before {
      transform: translateX(20px);
    }

    .temp-card{
      width: 100%;
      box-sizing: border-box;

      padding: 16px;
      margin-bottom: 20px;

      background: rgba(255, 255, 255, 0.95);
      border-radius: 16px;
      text-align: center;

      box-shadow: 0 10px 24px rgba(0,0,0,0.18);
    }

    .temp-value {
      font-size: 36px;
      font-weight: 700;
      color: #1C1C1E;
    }

    .temp-unit {
      font-size: 18px;
      margin-left: 4;
      opacity: 0.7;
    }

    .temp-label {
      font-size: 14px;
      color: #1C1C1E;
      margin-top: 6px;
    }

    .parameter-btn{
      width: 100%;
      padding: 14px;
      font-size: 15px;
      border-radius: 12px;
      border: none;
      display: flex;
      align-items: center;
      gap:10px;
      cursor: pointer;
    }

    .parameter-btn.danger{
      background:#FF3B30;
      color: white;
    }

    confirm-box{
      width: 90%;
      max-width: 320px;
      background: white;
      border-radius: 16px;
      padding: 20px;
      text-align: center;
    }

    .confirm-actions{
      display: flex;
      gap: 12px;
      margin-top: 16px;
    }

    .btn.danger{
      background: #FF3B30;
      color: white;
    }

    @keyframes slideDown {
      from {
        opacity: 0;
        transform: translate(-50%, -20px);
      }
      to {
        opacity: 1;
        transform: translateX(-50%, 0);
      }
    }
